/* Reset and layout */
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: linear-gradient(to bottom, #000000, #444444);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App container */
#root {
  width: 100vh;
  /* padding: 2rem; */
  text-align: center;
}

/* Optional styling for the content */
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.ticker {
  font-size: 1.5rem;
  color: #dddddd;
  margin-top: 0.5rem;
}
