:root {
  --color-primary: #009688;
  --color-primary-hover: #00796B;
  --color-secondary: #4DB6AC;
  --color-dark: #002d2a;
  --color-medium-rgb: 0, 105, 92;
  --color-medium: #00695C;
  --color-light: #B2DFDB;
  --color-text: #FFFFFF;
  --color-text-muted: #B0BEC5;

  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Inter', sans-serif;

  --radius: 12px;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: var(--font-body);
  line-height: 1.6;
  color: var(--color-text);
  background:
    linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(35, 47, 62, 0.6)),
    url('/constellation_bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  margin: 0 0 1rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}


p {
  font-size: 1rem;
  color: var(--color-text-muted);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}